
* {
  box-sizing: border-box;
}

header {
  padding-top: 20px;
  font-size: 30px;
  color: #ff5000;
}
body { font-family: sans-serif; }

.flickity-viewport { 
  margin-top: -1.5%; 
}

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 100%;
  height: 50vh;
  min-height: 250px;
  margin-right: 10px;
  background: #565546;
  counter-increment: gallery-cell;
}

.container {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding-left: 10px;
}
.flickity-page-dots {
  display: none;
}
.button {
  font-size: 22px;
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 23;
}

.button-group {
  margin-bottom: 20px;
}
.progress-bar {
  height: 20px;
  width: 0;
  background: #333;
}

.background-photo {
  background-size: auto; 
  background-position: center; 
  background-repeat: no-repeat;
}

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }